@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

*{
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

.active-link{
    color: #2b83ff;
    transition: all linear .4s;
}
.loaded {
    opacity: 0;
    visibility: hidden;
}