@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

*{
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

.active-link{
    color: rgb(76, 76, 250);
    transition: all linear .4s;
}