---
interface Props {
  title?: string;
  description?: string;
  link?: string;
}
const { title, description, link } = Astro.props as Props;
---

<a href={link} class="cursor-pointer">
  <div class="min-w-96 rounded-md shadow-md hover:shadow-lg duration-300 m-2 p-4">
    <h2>{title}</h2>
    <p>{description}</p>
    <button class="bg-blue-800 font-semibold px-8 py-1 text-white rounded-xl">See Article</button>
  </div>
</a>
