---
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout>
    <div class="container grid items-center gap-2 justify-items-center text-center">
        <h1 class="font-bold text-5xl">owch ! You Lost ...</h1>
        <p class="max-w-[40rem] text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita reprehenderit reiciendis facilis perferendis consequatur temporibus corrupti ad? Perspiciatis qui dolorem sunt ad velit explicabo enim at sequi? Modi voluptatem, veniam explicabo assumenda sapiente sit.</p>
    
    
    </div>
</MainLayout> 