---
import Card from "../components/card/Card.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About">
  <h3 class="w-full text-center bg-black font-bold text-xl text-white">
    Hello From About Page
  </h3>
  <div class="grid grid-cols-3">
    <Card title="DevOps Course" description="this is a simple prerequsted devops course" link="#"/>
    <Card title="DevOps Course" description="this is a simple prerequsted devops course" link="#"/>
    <Card title="DevOps Course" description="this is a simple prerequsted devops course" link="#"/>
  </div>
</MainLayout>
