---
import Card from "../components/card/Card.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About">
  <section>
    <div class="flex items-center justify-between px-5">
      <div class="info max-w-[40rem]">
        <h1 class="font-bold text-5xl">Aliakbar Zohour</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi iusto architecto, at ipsum molestias accusamus in voluptatibus sequi commodi aliquam et explicabo magni dolorum voluptatem praesentium odit eius ut molestiae.</p>
      </div>
      <img src="" alt="">
    </div>
  </section>
</MainLayout>
