---
import MainLayout from "./Layouts/MainLayout.astro";


---

<MainLayout title="About">
    <h3 class="w-full text-center bg-black font-bold text-xl text-white">Hello From About Page</h3>
</MainLayout>