---
import Card from "../components/card/Card.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About">
  <section>
    <div class="w-full flex flex-col-reverse lg:flex-row items-center justify-center gap-10 p-10">
      <div class="info max-w-[45rem] text-center lg:text-left grid gap-2">
        <h1 class="font-bold text-5xl [letter-spacing:2px]">Aliakbar Zohour</h1>
        <p class=" opacity-60 font-normal text-xl">
          A software engineer helping startups turn <br />
          their visions into a digital reality. I specialize in designing and <br
          />
          building modern mobile and web-based apps.
        </p>
      </div>
      <img
        src="/images/me.jpeg"
        alt="Aliakbar Zohour Picture"
        class="w-80 h-96 object-cover object-center rounded-full brightness-120"
      />
    </div>
  </section>
</MainLayout>
