---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home">
  <h3 class="w-full text-center bg-black font-bold text-xl text-white">
    Hello From Home Page
  </h3>
</MainLayout>
